/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #d291bc;
  --primary-color-dark: #f7ebf3;
  --text-dark: #1e293b;
  --text-light: #64748b;
  --extra-light: #fafafa;
  --white: #ffffff;
  --max-width: 1200px;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.container {
  width: 80%;
  max-width: var(--max-width);
  margin: auto;
}

.section__header {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: var(--text-dark);
}

.section__subheader {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: var(--text-light);
  letter-spacing: 2px;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 5px;
} 

.nav__logo img {
  max-width: 40px;
  border-radius: 5px;
}

.nav__links {
  background-color: #000205;
  border-radius: 15px;
  text-align: center;
   
}

.link a {
  padding: 5px;
  color: var(--text-light);
  color: #e07e07;
}

.link a:hover {
  color: var(--primary-color);
}

/* header*/
.header__content {
  z-index: 1;
  text-align: center;
  padding: 90px;
}

.header__content h1 {
  font-size: 4rem;
  font-weight: 300;
  color: var(--text-dark);
}

.header__content h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-light);
}

/* grid*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: minmax(200px, auto);
  gap: 10px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

.grid-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

.red { background-color: #f3bcbc; }
.blue { background-color: #b4cbec; }
.green { background-color: #c2e3c2; }
.yellow { background-color: #e8e8bf; }
.purple { background-color: #d7c2ec; }
.orange { background-color: #e2d1ae; }

/* hey im amy*/
.card {
  display: flex;
  width: 60%;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 20px;
  margin-top: 5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.right {
  width: 900px; /* sets the box width up to the right size according to the "right"*/
}

h3 {
  font-weight: bold;
  text-align: center;
  margin: auto; 
}

p {
  padding: 10px 20px;
}

.left {
  width: 1000px; /* sets the box width up to the right size according to the "left"*/
}

.left img{
  width: 100%; /* the image take 100% of the 40%*/
  border-radius: 10px; /* rounds the edges of the image*/

}

li {
  margin-bottom: 10px; /* makes space between the paragraph*/
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

label{
  margin-bottom: 10px;
}

input {
  padding: 10px 20px; /* space between letters and box of email address*/
  border-radius: 5px; /* rounds the edges of the boder of the email address*/
  border: 1px solid #30a170; /* setting up the border thickness + coloring it*/

  outline: none; /* umm... idont see the diff*/
  font-family: inherit; /* umm... idont see the diff*/
}
button {
  margin-top: 20px;
  padding: 10px 20px; /* space between letters and box of button*/
  color: #a7dfc6;
  background-color: #057748;
  border-radius: 5px; /* rounds the edges of the boder of the email address*/
  border: none; /* setting up the border to transparent*/
  cursor: pointer; 

  outline: none; /* umm... idont see the diff*/
  font-family: inherit; /* umm... idont see the diff*/
}

/*my work */
.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

}

.popular__card p {
  background-color: #d7cbe0;
  border-radius: 10px;
  width: 100px;
  padding: 5px;

}

.popular__content {
  padding: 1rem;
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}


/* Book a call with me*/
.coffee--content {
  background-color: #fff;
  padding: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  background-color: #d291bc;
  border-radius: 10px;
  margin: auto; /* Center the content horizontally */
  margin-bottom: 30px;
}

.coffee--title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #051937; /* Adjust the color as needed */
  margin: 0.7rem 0 0.7rem 0;
}

.coffee--description {
  font-size: 1rem;
  font-weight: 400;
  color: #051937; /* Adjust the color as needed */
  text-align: center; /* Align the text in the center */
  margin-bottom: 1.5rem; /* Add space between title and description */
}

.coffee--button {
  display: inline-block;
  text-align: center;
  font-size: 1.7rem;
  color: #fff; /* Text color */
  text-decoration: none;
  font-weight: 800;
  width: 100%;
  background-color: #051937; /* Button background color */
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.coffee--button:hover {
  background-color: #1e293b; /* Change background color on hover */
}

/*Footer*/
footer {
  background-color: #1e293b; /* Adjust the color as needed */
  padding: 20px;
  color: #ffffff; /* Text color */
}

.nav__logo {
  margin-bottom: 20px; /* Add space between logo and copyright text */
}

.nav__logo img {
  max-width: 80px; /* Adjust the max-width of the logo */
}

.footer__bar {
  text-align: center;
  font-size: 0.9rem;
}

.footer__bar a {
  color: #ffffff; /* Link color */
  text-decoration: none;
}

.footer__bar a:hover {
  text-decoration: underline; /* Add underline on hover */
}




























/*
 * ADD YOUR STYLES HERE
 */
